<%- include('views/partials/header') %>
<main>
  <div class="product-card">
    <img
      src="<%= product.image %>"
      alt="<%= product.name %>"
      class="product-image"
    />
    <div class="product-info">
      <h2 class="product-name"><%= product.name %></h2>
      <p class="product-description"><%= product.description %></p>
      <p class="product-price">$<%= product.price.toFixed(2) %></p>
    </div>
  </div>
</main>
<%- include('views/partials/footer') %>
